* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body { */
    /* font-family: 'outfit';
    background: linear-gradient(#ffdad5, #fff7f9);
} */
body{
    background-color: aqua;
}

.contant-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contant-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-border: 5px; /* You may want to correct this to margin: 5px; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 50%; /* Adjust the width as needed */
}

.input-box {
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-bottom: 20px; */
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    /* border-radius: 5px; */
}
.names{
    margin-bottom: 10%;
}

